<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <link name="world"/>
  <link name="base_link"/>

  <xacro:arg name="arm_id" default="panda"/> <!-- Name of this panda -->
  <xacro:arg name="suction_ee" default="true"/>
  <xacro:arg name="robot_ip" default=""/> <!-- IP address or hostname of the robot" -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>

  <!-- Include workcell (creates joint from world to workcell_base)-->
  <xacro:include filename="$(find pick_and_place_support)/urdf/environment.xacro"/>
  <xacro:workcell parent_link="world" >
    <origin xyz="0.0 0.0 0.77153" rpy="0 0 0"/>
  </xacro:workcell >

  <xacro:cabinet id="1" parent_link="workcell_base" >
    <origin rpy="0 0 0" xyz="-0.3048 1.016 0.771525"/>
  </xacro:cabinet >

  <!-- Create joints -->
  <joint name="workcell_base_to_base" type="fixed">
    <parent link="workcell_base"/>
    <child link="base_link"/>
    <origin xyz="0 -0.0381 0.00953" rpy="0 0 1.5708"/>
  </joint>

  <xacro:include filename="$(find pick_and_place_support)/include/robot_description/panda_arm.xacro"/>
  <xacro:panda_arm arm_id="$(arg arm_id)" connected_to="base_link" safety_distance="0.01"/>

  <xacro:if value="$(arg suction_ee)">
    <xacro:include filename="$(find pick_and_place_support)/include/robot_description/suction_ee.xacro"/>
    <xacro:suction_ee ns="$(arg arm_id)" rpy="0 0 0" connected_to="$(arg arm_id)_link8" safety_distance="0.02"/>
  </xacro:if>

  <xacro:include filename="$(find pick_and_place_support)/include/robot_description/oak_d.xacro"/>
  <xacro:oak_d id="case_cam" rpy="0.375 0 0" xyz="0.1637786 -0.5589 0.736" connected_to="panda_link0"/>
  <xacro:oak_d id="fine_shelf_cam" rpy="${pi/2} 0 0" xyz=".2189801 -0.04 0.127" connected_to="panda_link0"/>
  <!--<xacro:include filename="$(find pick_and_place_support)/config/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm_ros2_control ns="$(arg arm_id)" robot_ip="$(arg robot_ip)" use_fake_hardware="$(arg use_fake_hardware)" fake_sensor_commands="$(arg fake_sensor_commands)"/> -->
</robot>
